{% extends 'AppCoderSocial/layout.html' %} 
{% load humanize %}
{% block content %}  

{% for post in posts %}

<article style="background-color: white; width: 63%; margin: auto;padding: 40px 0; border-bottom: 2px solid #ECEEEF; border-radius: 5px;">
    <div class="container-article" style="display: flex; ">
        <img src="{{ avatar }}" style="height: 68px; width: 68px; margin-right: 10px; border-radius: 50%;">
        <div>
            <h2 class="username"><a style="text-decoration: none; color: black;" href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2>
            <i class="clock"></i>
            <time data-time="#">{{ post.timestamp|naturaltime }}</time>
            <div class="post">{{ post.content }}</div>
        </div>
    </div>
</article>

{% endfor %}

{% endblock %}