{% extends 'AppCoderSocial/feed.html' %} 

{% block content %}  

<div class="profile" style="display: flex; align-items: center; flex-direction: column;">
    <img src="{{ avatar }}" style="height: 100px; width: 100px; margin-right: 10px; border-radius: 50%; margin: 20px;">
    <h2>@{{ user.username }}</h2>

    {% if request.user.is_authenticated %} 
        {% if user.username != request.user.username %}
            {% if user not in request.user.profile.following %} 
            <button style="font-size: 1rem; padding: 0.4rem 1.4rem; border: none; background: #4f5d75; border-radius: 4px; cursor: pointer;"><a style="text-decoration: none; color: white;" class="follow-button" href="{% url 'follow'  user %}">Follow</a></button>
            {% else %}
            <button><a class="follow-button" href="{% url 'unfollow' user %}">UnFollow</a></button>
            {% endif %}
        {% endif %} 
        
    {% endif %}
    
</div>

<div class="follow" style="width: 63%; display: flex; justify-content: space-around; margin: 30px auto; text-align: center; border-bottom: 2px solid #ECEEEF; padding-bottom: 20px;">
    <div>
        <h5>Post</h5>
        <p>{{ user.posts.count }}</p>
    </div>
    <div>
        <h5>Followers</h5>
        <p>{{ user.profile.followers.count }}</p>
    </div>
    <div>
        <h5>Following</h5>
        <p>{{ user.profile.following.count }}</p>
    </div>
</div>
{{ block.super }}
{% endblock %}
