{% extends 'AppCoder/padre.html' %} 

{% load static %}

{% block titulo %} 

    <h1 class="text-center my-5">Manten tus datos actualizados</h1>

{% endblock %}

{% block tituloForm %} 

        <h3 class="text-center h3_contacto">Editar usuario {{ nombreusuario }}</h3>
        
{% endblock %}

{% block formulario %} 

<h4>{{ mensaje }}</h4>

        <form action="{% url 'editarPerfil' %}" method="post" class="" style="display: flex; flex-direction: column; align-items: center; justify-content: center;" >
            {% csrf_token %}
            <table>
                
                {{ form.as_table }}

            </table>

            <input type="submit" value="Modificar usuario">
            
        </form>

{% endblock %}