{% extends 'AppCoder/padre.html' %} 

{% load static %}

{% block titulo %} 

    {<h1 class="text-center my-5">Editar</h1>}

{% endblock %}

{% block tituloForm %} 

        <h3 class="text-center h3_contacto">Editar suscriptor {{ suscriptor }}</h3>
        
{% endblock %}

{% block formulario %} 

<h4>{{ mensaje }}</h4>

        <form action="{% url 'editarSuscriptor' suscriptor.id  %}" method="post" class="" style="display: flex; flex-direction: column; align-items: center; justify-content: center;" >
            {% csrf_token %}
            <table>
                
                {{ form.as_table }}

            </table>

            <input type="submit" value="Guardar Cambios">
            
        </form>

{% endblock %}