{% extends 'AppCoder/padre.html' %} 

{% load static %}

{% block titulo %} 

    <h1 class="text-center my-5">Nuestro Cafe</h1>

{% endblock %}

{% block imagen %} 

<img src="../../static/AppCoder/assets/wasabi2.jpg" class="img-fluid" alt="dibujo" style="height: 500px; width: auto; border-radius: 50%;">

{% endblock %}

{% block titulo2 %} 

<h2 class="text-center my-5">Porque Cat Cafe</h2>

{% endblock %}

{% block imagen2 %} 

<img src="../../static/AppCoder/assets/compu_sillon (1).jpg" class="img-fluid" alt="dibujo"  style="height: 500px; width: auto; border-radius: 50%;">

{% endblock %}

{% block formulario %} 

<h3 style="font-family: 'Pacifico', cursive; display: flex; justify-content: center; align-items: center;">Bienvenid@ a Pompeo Cat Cafe</h3>
<h4 style="display: flex; justify-content: center; align-items: center;">{{ mensaje }}</h4>

{% endblock %}







